* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

    /* font */

    font-family: sans-serif;
}


/* main */

#main {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main img {
    height: 28rem;
    position: relative;
    z-index: 1;
    filter: drop-shadow(2px 4px 6px black) brightness(1.2);
}


#text-div {
    position: absolute;
    top: 15%;
    font-size: 1.3rem;
    width: 50%;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 2;
    color: #c30009;
}

/* scroll-div */

#scroll-div {
    position: absolute;
    top: 20%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}

#scroll-div::-webkit-scrollbar {
    display: none;
}

#scroll-div p {
    display: inline-block;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.3rem;
    margin-right: 1.5rem;

    /* animation */

    animation: scroll 2s linear 0s infinite reverse;
}


/* scroll-div-2 */

#scroll-div-2 {
    position: absolute;
    top: 40%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 99;


}

#scroll-div-2::-webkit-scrollbar {
    display: none;
}

#scroll-div-2 p {
    display: inline-block;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.3rem;
    margin-right: 1.5rem;
    color: transparent;
    -webkit-text-stroke: #000 1px;

    /* animation */

    animation: scroll 2s linear 0s infinite reverse;
}



/* scroll-div-3 */

#scroll-div-3 {
    position: absolute;
    top: 60%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}

#scroll-div-3::-webkit-scrollbar {
    display: none;
}

#scroll-div-3 p {
    display: inline-block;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.3rem;
    margin-right: 1.5rem;

    /* animation */

    animation: scroll 2s linear 0s infinite none;
}



/* animation */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(calc(-100% - 1.7rem));
    }
}